{% extends "base.html" %}

{% block content_block %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Transaction ID
						</th>

						<th>
							Transaction From
						</th>
						<th>
							Transaction To
						</th>						
						<th>
							Sender
						</th>
						<th>
							carrier
						</th>
						<th>
							Reciver
						</th>
						<th>
							Shipment ready for Pickup
						</th>
						<th>
							Document
						</th>
						<th>
							Edit
						</th>
					</tr>
				</thead>
				<tbody>
					{% for t in trans %}
					<tr>
						<td>
							{{t.id}}
						</td>
						<td>
							{{t.transaction_from}}
						</td>
						<td>
							{{t.transaction_to}}
						</td>						
						<td>
							{{t.sender}}
						</td>
						<td>
							{{t.carreir}}
						</td>
						<td>
							{{t.reciver}}
						</td>
						<td>

							{% if t.carrier_ack == 0 %}
							<a href="/sendmail/{{t.id}}">send Aknowledgement</a>
							{% else %}
								<b>Verification Completed </b>
							{% endif %}
						</td>
						<td>
							<a href="/document/{{t.id}}">Shippment Info</a>
						</td>
						<td>
							<a href="/edit/{{t.id}}"><button>Edit</button></a>
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}